<div class="col ps-md-2 pt-2">
    <div class="page-header ">
        <div class="navbar navbar-expand-md   px-0 sticky-top">
            <div class="container-fluid">
                <h2>Welcome {{username}}</h2>
                <button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
            </div>
        </div>
    </div>
    <div class="card-body h-75">
        <canvas id ="Chart" ></canvas>
    </div>
</div>
<script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
<script src='/js/chart.js'></script> 
