<div class="col ps-md-2 pt-2">
    <div class="page-header ">
        <div class="navbar navbar-expand-md   px-0 sticky-top">
            <div class="container-fluid">
                <h2>Order Manager</h2>
                <!--button class="navbar-toggler bg-light " type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button-->
            </div>
        </div>
    </div>
    <hr class="mt-1">
    <div class="container">
        <div class="col-sm-8 offset-sm-2 col-lg-6 offset-lg-3 col-xl-4 offset-xl-4 text-center">
            <form class="rounded bg-light shadow p-5 login-form" >
                <i class="fa-solid fa-circle-user fa-6x mb-4 text-primary " ></i>
                <h3 class="text-dark  fs-4 mb-2">Login</h3>
                <input type="text" class="form-control text-center my-2 bg-light" id="loginUser"  placeholder="Email" aria-label="Username" aria-describedby="addon-wrapping">          
                <input type="password" class="form-control text-center my-2 bg-light" id="loginPass" placeholder="Password" aria-label="Username" aria-describedby="addon-wrapping">  
                <div class="d-grid gap-2">
                    <!--LoginBtn -->
                <button class="btn btn-primary" type="submit" id="LoginBtn">Login</button>
                </div >                            
            </form>
        </div>
    </div>
</div>
<script src="./js/login.js"></script>